.div{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
    
   
    
    column-gap: 1%;
   
}
.khoi1{
    display: flex;
    flex-direction: column;
    
   width: 100%;
   height: 100%;
   
    
    
}

.khoi11{
    text-align: right;
    
    
    
}

.circles{
    height: 20px;
    width: 20px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
}

.circles2{
    opacity: 0.5;
}

.circles3{
    opacity: 0.3;
}
.khoi13{
    word-wrap: break-word;
    margin-bottom: 25px;
    
}

.khoi131{
    text-transform: uppercase;
    font-size: 200%;
}


.button{
    
    color: black;
    padding: auto;
    font-size: 15px;
    transition: all 5s ease-in-out;
}
.button:hover{
    width: 100%;
    background-color: brown;
    color: aliceblue;
}




.khoi2{
    margin: 5%;
   
    height: 100%;
    margin-top: 15%;
    
    
    margin-right: 5%;
    
}
